* {
  margin: 0;
  padding: 0;
}

#main-google {
  text-align: center;
  position: relative;
  top: 145px;
}
#google-h1 {
  font-size: 100px;
}
#in1 {
  height: 41px;
  width: 550px;
  border: 0.75px solid lightgray;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 20px;
  font-family: "Times New Roman";
}
#google-search {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  bottom: 20px;
  background-color: white;
  margin: 10px;
  font-size: 20px;
  font-family: "Times New Roman";
}
.google-letters {
  margin-left: -24px;
}
body {
  background-image: url("https://www.docker.com/sites/all/themes/docker/assets/images/dockercon/dockercon21_header_bg.png");
}
div#d1 {
  color: lightsteelblue;
  font-family: verdana;
  font-size: 75%;
}
p {
  color: cyan;
  font-family: verdana;
  font-size: 150%;
}
